@font-face {
	font-family: 'Novelist';
	src: url('Novelist_free.otf') format('opentype');
	font-weight: 400;
	font-style: normal;
}

@font-face {
	font-family: 'Cedra4F';
	src: url('Cedra4F-Wide.ttf') format('truetype');
	font-weight: 700;
	font-style: normal;
}

@font-face {
	font-family: 'Cedra4F';
	src: url('Cedra4F-WideItalic.ttf') format('truetype');
	font-weight: 700;
	font-style: italic;
}

@font-face {
	font-family: 'Cedra4F';
	src: url('Cedra4F-WideLight.ttf') format('truetype');
	font-weight: 300;
	font-style: normal;
}

@font-face {
	font-family: 'Cedra4F';
	src: url('Cedra4F-WideLightItalic.ttf') format('truetype');
	font-weight: 300;
	font-style: italic;
}

@font-face {
	font-family: 'Cedra4F';
	src: url('Cedra4F-WideThin.ttf') format('truetype');
	font-weight: 200;
	font-style: normal;
}

@font-face {
	font-family: 'Cedra4F';
	src: url('Cedra4F-WideThinItalic.ttf') format('truetype');
	font-weight: 200;
	font-style: italic;
}

@font-face {
	font-family: 'Cedra4F';
	src: url('Cedra4F-WideUltraLight.ttf') format('truetype');
	font-weight: 100;
	font-style: normal;
}

@font-face {
	font-family: 'Cedra4F';
	src: url('Cedra4F-WideUltraLightItalic.ttf') format('truetype');
	font-weight: 100;
	font-style: italic;
}

:root {
	--green: #1b4332;
	--white: #ffffff;
	--black: #000000;
	--mainFont: 'Novelist';
	--decorFont: 'Cedra4F';
}
